  body {
    background-color: #333;
  }
  html {
    height: 100%;
    font-size: 100%;
  }
  body {
    height: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #ddedec;
  }
  .wrapper {
    width: 804px;
    margin: 0 auto;
  }
  .intro {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    ;
  }
  .jeu {
    width: 100%;
    height: 604px;
    background-color: coral;
    border: 10px solid white;
    margin-top: 50px;
  }
  .jeu img {
    width: 100%;
  }
  .modif {
    background-color: white;
    padding: 20px;
  }
  .texture, .niveau {
    float: left;
    width: 45%;
    padding: 20px;
    height: 200px;
  }
  .score {
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  h2 {
    font-family: Lato;
    font-size: 1.5em;
    text-align: center;
    color: #f38a94;
  }
  .score table {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .score td:first-of-type {
    width: 80px;
    text-align: left;
  }
  .score td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .score tr {
    border-bottom: 1px solid lightgrey;
  }
  .footer {
    text-align: center;
    padding-bottom: 10px;
    color: lightslategrey;
  }
  #ptpmu4 {
    border: 2px solid white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    cursor: none;
    font-family: Arial;
  }
  #scoreForm input {
    position: absolute;
  }
  #scoreForm input[type=text] {
    top: 250px;
    left: 180px;
    width: 220px;
    height: 35px;
  }
  #scoreForm input[type=submit] {
    height: 40px;
    width: 190px;
    left: 425px;
    top: 250px;
    background: none;
    border: 2px solid #f38a94;
    color: #f38a94;
    font-size: 1rem;
    cursor: pointer;
  }
  #scoreTable {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 320px;
    left: 150px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    color: #f38a94;
  }
  #scoreTable span {
    font-style: italic;
    font-size: 1.3rem;
    height: 2rem;
    display: block;
    margin: 0.5rem 0;
  }
  #scoreTable table {
    width: 100%;
  }
  #scoreTable table thead {
    text-decoration: underline;
  }
  #scoreTable table thead td {
    height: 35px;
  }
  #scoreTable tbody {
    font-style: italic;
    font-weight: bold;
  }
  #scoreTable tbody tr {
    height: 26px;
  }
