.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
}

.logo__text {
  font-size: 1.5rem;
}

.menu__list {
  display: none;
}

.menu {
  width: 30%;
  text-align: right;
}

.menu__button__link {
  /*width: 20%;*/
}



.menu__button__icon, .menu__button__text {
  display: inline-block;
}

.menu__button__icon {
  width: 30%;
}


.intro {
  background-color: #2DBA69;
  color: #fff;
}

.intro__title {
  color: #fff;
}
