body {
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
}

.logo__text {
  font-size: 1.5rem;
}

.menu__list {
  display: none;
}

.menu {
  width: 30%;
  text-align: right;
}

/*.menu__button__link {
  width: 20%;
}*/



.menu__button__icon, .menu__button__text {
  display: inline-block;
}

.menu__button__icon {
  width: 30%;
}


.intro {
  background-color: #2DBA69;
  color: #fff;
  height: calc(90vh - 3rem);
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

.intro__text {
   font-size: 2.1rem;
   line-height: 1.4;
    font-weight: 500;
}

.intro__text__paragraph {
  margin-bottom: 0;
}

.intro__text__paragraph--primary {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.8rem;
}

.intro__text__paragraph--light {
  font-weight: lighter;
  color: #342E39;
}

.intro__title {
  color: #fff;
  font-size: 2.1rem;
}

.intro__title--close {
  line-height: 1;
  font-size: 2.2rem;
  margin-top: 2rem;
}