html {
  font-family: Roboto;
  font-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #BAB8BC;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
}

.logo, .menu {
  width: 100%;
}


.logo__text {
  font-size: 1.5rem;
  line-height: 1;
}

.logo__text--green {
  color: #2DBA69;
}

.menu__list {
  display: none;
  position: absolute;
  top: 3rem;
  right: -100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  height: calc(100vh - 3rem);
  list-style-type: none;
  padding-right: 2rem;
  font-size: 1.8rem;
  transition: transform 0.2s;
}

.menu__list.js-display {
  transform: translateX(-100vw);
}

.menu__list__item {
  margin-top: 2rem;
}

.menu__list__link {
  color: #000;
}

.menu {
  text-align: right;
}

.menu__button__link {
  display: block;
}



.menu__button__icon, .menu__button__text {
  display: inline-block;
  vertical-align: middle;
}

.menu__button__icon {
  height: 1.1rem;
}

.menu__button__text {
  font-size: 1.2rem;
  padding-left: 0.4rem;
  color: #342E39;
}

.parallax {
  perspective: 1px;
  height: 100vh;
/*  overflow-x: hidden;
  overflow-y: auto;*/
}

.parallax__layer {
/*  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
}

.parallax__layer--front {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--back {
  padding-top: 100vh;
}

.intro {
  color: #fff;
}

.intro__text {
  background-color: #2DBA69;
  font-size: 2.1rem;
  line-height: 1.4;
  font-weight: 500;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.6rem;
}

.intro__text__paragraph {
  margin-bottom: 0;
}

.intro__text__paragraph--primary {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.8rem;
}

.intro__text__paragraph--light {
  font-weight: 300;
  color: #342E39;
}

.intro__title {
  color: #fff;
  font-size: 2.1rem;
}

.intro__title--close {
  line-height: 1;
  font-size: 2.2rem;
  margin-top: 2rem;
}

.intro__title--code::before, .intro__title--code::after {
  color: #342E39;
  font-weight: 300;
}

.intro__title--code::before {
  content: "<";
  padding-right: 0.2rem;
}

.intro__title--code::after {
  content: "/>";
  padding-left: 0.2rem;
}

.intro__pattern {
  background-image: url(./assets/img/pattern.png);
  height: 35.2vh;
  width: 100%;
}

.page-header {
  line-height: 1;
  font-weight: 600;
}

.page-header__top, .page-header__bottom {
  padding: 0 0.6rem;
}

.page-header__top {
    height: 25vh;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-header__top__text {
    line-height: 2.5rem;
}

.page-header__bottom {
  height: 75vh;
  color: #fff;
  background-color: #2DBA69;
}

.page-header__bottom__title {
  color: #fff;
  line-height: 1.5;
}

.page-header__bottom__text {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 100;
    font-style: italic;
} 

.content-block {
  margin-bottom: 2rem;
}

.content-block:last-of-type {
  margin-bottom: 0;
}

.article {
  padding: 1rem 1.2rem;
}

.article--color-invert {
    background-color: #342E39;
    color: #2dba69;
}

.article--space-bottom {
  padding-bottom: 4rem;
}

.article--color-invert .article__title {
  color: #fff;
}


.article__title {
  color: #2DBA69;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article__text {
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}

.article__text--uppercase {
  text-transform: lowercase;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-size: 1.2rem;
}

.skills-block__title {
  color: #2DBA69;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.skills-block__list {
  color: #fff;
  list-style-type: none;
  padding-left: 0.5rem;
}

.skills-block__list__item {
  margin-bottom: 0;
}

.skills-block__list__sub-item {
  display: block;
}

.skills-block__list__sub-item--main {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.skills-block__list__sub-item--secondary {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  line-height: 0.9;
  margin-bottom: 0.6rem;
}

.button-container {
  text-align: center;
}

.button {
  margin: 0;
  border: 0;
  position: relative;
  top: -1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button--primary {
  background-color: #2DBA69;
}

.button--icon,
.button--icon:hover,
.button--icon:focus,
.button--icon:active {
  background-color: transparent;
  color: #000;
  font-size: 3rem;
  line-height: 1;
  top: 0;
}

.button.button--primary:hover,
.button.button--primary:active,
.button--primary:focus {
  background-color: #ff9800;
}


.form__field .form__field__input {
    width: 100%;
}

.form__field__label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 0.1rem;
}

.form__field__input--textarea {
    height: 10rem;
}

.dialog {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    color: #fff;
}

.dialog__close {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
}

.dialog__close__link,
.dialog__close__link:hover,
.dialog__close__link:active,
.dialog__close__link:focus{
  color: #fff;
}

.dialog__message {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.2em;
    padding: 0.6rem 1rem;
}

.dialog--error {
    background-color: #ff8a00;
}

.dialog--success {
    background-color: #24ce6c;
}



@media screen and (min-width: 768px) {
  .intro__text {
    padding: 0 4rem;
  }
  .grid--reverse--md {
    flex-direction: row-reverse;
  }
  .intro__pattern {
    position: absolute;
    height: 125vh;
    right: 0;
  }
} 

@media screen and (min-width: 991px) {
  
} 